.skeleton {
  display: flex;
}

.circle {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
}

.block {
  flex-grow: 1;
  height: 30px;
  border-radius: 5px;
}

.blink {
  background-image: linear-gradient(90deg, #eee 0%, #eee 40%, #ddd 50%, #ddd 55%, #eee 65%, #eee 100%);
  background-size: 400%;
  animation: blink 1500ms infinite;
}

@keyframes blink {
  from {
    background-position: 100% 100%;
  }
  to {
    background-position: 0% 0%;
  }
}
